Django>=6.0
djangorestframework>=3.16
djangorestframework-simplejwt>=5.5
django-cors-headers>=4.9
django-filter>=25.2
drf-spectacular>=0.29
python-decouple>=3.8
psycopg2-binary>=2.9
Pillow>=12.0
pillow-heif>=0.13.0
gunicorn>=23.0
whitenoise>=6.9
dj-database-url>=2.3
reportlab>=4.3.1
django-storages[s3]>=1.14
boto3>=1.34
